@font-face {
	font-family: "bebas";
	src: url("..//assets/Fonts/BebasNeue-Regular.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body */

body {
	background-image: url("../assets/Background/background 4.jpg");
	background-size: contain;
}

/* Index */

/* Header */
/*Navigation Bar*/
.logoImg {
	height: 100px;
	width: 350px;
	margin-left: 15px;
}

nav{
    background-image: url("../assets/Background/background 2.jpg");
	background-size: contain;
}

header ul li a {
    position: relative;
    text-decoration: none;
	font-family: "bebas";
	font-size: 35px;
	font-weight: lighter;
    margin: 3px;
	cursor: pointer;
}

header ul li a:after{
    content: "";
    position: absolute;
    background-color: #0c151c;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: 10px;
    transition: 0.3s;
}

header ul li a:hover:after {
    width: 100%;
}

.menuBar {
	display: none;
}

/* Main */
.sectionHome-1 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}

.articleHome {
	grid-column: 1/6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
}

.articleHome h1 {
	font-size: 45px;
	font-family: "bebas";
	font-weight: 600;
	text-align: center;
	color: #bbc5c8;
}

.articleHome h2 {
	font-size: 25px;
	font-weight: 300;
	font-family: "bebas";
	text-align: center;
	color: #bbc5c8;
}

.articleHome p {
	color: #bbc5c8;
	font-family: "bebas";
	font-size: 20px;
	font-weight: 200;
	line-height: 1.3;
	margin: 20px;
}

.members {
	text-align: center;
	font-family: "bebas";
	font-weight: 200;
	font-size: 20px;
	color: #bbc5c8;
}

.imgMain {
	grid-column: 6/11;
	width: 95%;
	margin: 10px;
}

/* Biography Section */
.sectionHome-2 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}

.imgSection {
	grid-column: 1/6;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 15px;
}

.imgSection img {
	width: 100%;
}

.articleHome-1 {
	grid-column: 6/11;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.articleHome-1 p {
	color: #bbc5c8;
	font-family: "bebas";
	font-size: 20px;
	font-weight: 200;
	line-height: 1.3;
	margin: 20px;
}

.articleHome-1 h1 {
	font-size: 45px;
	font-family: "bebas";
	font-weight: 600;
	text-align: center;
	color: #bbc5c8;
}

/* Discografia Page */

.card-group{
	padding: 10px;
}

.cardImg {
	width: 100%;
	height: auto;
}

.card-text {
	font-family: "bebas";
	color: #bbc5c8;
	text-align: center;
}

h3 {
	font-style: italic;
	font-weight: 100;
	font-size: 15px;
}

/* Tours Page */

.tourSection{
	color: #bbc5c8;
}


/* Videos Page */

.mainVideos h2 {
	font-family: "bebas";
	color: #bbc5c8;
	font-weight: bold;
	font-style: italic;
	font-size: 35px;
	text-align: center;
}

.videos{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.video1, .video2, .video3, .video4, .video5, .video6, .video7, .video8, .video9{
	justify-content: space-between;
	flex: 50%;
}

iframe{
	width: 568px;
	height: 280px;
}

/* Contacto Page */

.mainContact {
	padding: 15px;
}

.ContactForm{
	color: #bbc5c8;
	font-family: 'bebas';
	font-size: 20px;
	background-color: #0c151c;
	padding: 10px;
}

.comentarios {
	margin-top: 10px;
}

#commentTextArea{
	height: 300px;
	background-color: transparent;
	color: #bbc5c8;
}

.comentarios label{
	color: #bbc5c8;
}

.botones{
	background-color: #0c151c;
	display: flex;
	justify-content: center;
}

.botones input{
	padding: 5px;
	margin: 5px;
}

.botones span{
	margin-right: 15px;
}

.slide{
	margin-top: 10px;
	margin-bottom: 10px;
}

.slide img{
	height: 550px;
}

/* Footer */

footer {
	background-image: url("../assets/Background/background 2.jpg");
	background-size: contain;
}

footer p {
	font-family: "bebas";
	font-size: 25px;
	color: black;
	text-align: center;
}

.footerContainer {
	display: flex;
	justify-content: center;
}

.footerContainer span {
	margin: 35px;
}

.footerContainer span a img {
	width: 100%;
	height: auto;
	transition: all;
}

.footerContainer span a img:hover {
	transform: scale(1.5, 1.5);
}

/* *************** MEDIAQUERIES *************** */
/* 576px INDEX */

@media only screen and (max-width: 768px) {
	Main section

	.logoImg {
		grid-column: 2/9;
	}

	header ul {
		display: none;
	}

	.menuBar {
		display: block;
		grid-column: 9/11;
		margin-left: 25px;
		font-size: 50px;
	}

	.sectionHome-1 {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.articleHome {
		grid-column: 1/7;
		grid-row: 1/2;
		margin: 0 auto;
		padding: 10px;
	}

	.articleHome p {
		font-size: 16px;
		font-weight: 100;
		margin: 5px;
		padding: 10px;
	}

	.articleHome h2 {
		font-size: 20px;
		font-weight: 300;
		text-align: center;
	}

	.articleHome h1 {
		font-size: 35px;
		font-weight: 600;
		text-align: center;
	}

	.members {
		font-weight: 200;
		font-size: 16px;
	}

	.imgMain {
		grid-column: 1/7;
		grid-row: 2/3;
		margin: 0 auto;
	}

	/* Biography Section */

	.sectionHome-2 {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.imgSection {
		grid-column: 1/7;
		grid-row: 2/3;
		margin: 0 auto;
		box-sizing: border-box;
		padding: 10px;
	}

	.imgSection2, .imgSection3 {
		display: none;
	}

	.articleHome-1 {
		grid-column: 1/7;
		grid-row: 1/2;
		justify-content: none;
	}

	.articleHome-1 p {
		font-size: 16px;
		font-weight: 100;
		margin: 5px;
		padding: 10px;
	}

	.articleHome-1 h1 {
		font-size: 35px;
		font-weight: 600;
		text-align: center;
	}
}

/* TOURS */
@media only screen and (max-width: 576px) {

	.imgTour img{
		height: 280px;
	}
}

@media only screen and (max-width: 768px){

	.imgTour img{
		height: 350px;
	}
}

@media only screen and (max-width: 992px){

	.imgTour img{
		height: 450px;
	}
}

/* VIDEOS */

@media only screen and (max-width: 576px) {

	.video1, .video2, .video3, .video4, .video5, .video6, .video7, .video8, .video9{
		flex: 100%;
	}
	
	iframe{
		width: 400px;
		height: 250px;
	}
}

@media only screen and (max-width: 768px) {
	.video1, .video2, .video3, .video4, .video5, .video6, .video7, .video8, .video9{
		flex: 100%;
	}
	
	iframe{
		width: 568px;
		height: 280px;
	}
}
