@font-face {
    font-family: 'bebas';
    src: url('..//assets/Fonts/BebasNeue-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body{
    background-image: url('../assets/Background/background 4.jpg');
    background-size:contain;
}

/* Index */

/* Header */
    .navigation {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        background-image: url('../assets/Background/background 2.jpg');
        background-size:contain;
        align-items: center;
    }


    .logoImg {
        grid-column: 1/4;
        height: 150px;
        width: 350px;
        margin-left: 15px;
    }

    header ul{
        grid-column: 4/11;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
    }

    header ul li a{
        font-family: 'bebas';
        font-size: 35px;
        font-weight: lighter;
        color:#0c151c;
        text-decoration: none;

    }

    .menuBar {
        display: none;
    }

    /* Main */
    .sectionHome-1{
        display: grid;
        grid-template-columns: repeat(10, 1fr);

    }

    .articleHome{
        grid-column: 1/6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
    }

    .articleHome h1{
        font-size: 45px;
        font-family: 'bebas';
        font-weight:600;
        text-align: center;
        color: #bbc5c8;
    }

    .articleHome h2{
        font-size: 25px;
        font-weight: 300;
        font-family: 'bebas';
        text-align: center;
        color: #bbc5c8;
    }

    .articleHome p{
        color: #bbc5c8;
        font-family: 'bebas';
        font-size: 20px;
        font-weight: 200;
        line-height: 1.3;
        margin: 20px;
    }

    .members {
        text-align: center;
        font-family: 'bebas';
        font-weight: 200;
        font-size: 20px;
        color: #bbc5c8;
    }

    .imgMain{
        grid-column: 6/11;
        width: 95%;
        margin: 10px
    }

    /* Biography Section */
    .sectionHome-2{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }

    .imgSection {
        grid-column: 1/6;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 15px;
    }

    .imgSection img {
        width: 100%;
    }

    .articleHome-1{
        grid-column: 6/11;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .articleHome-1 p{
        color: #bbc5c8;
        font-family: 'bebas';
        font-size: 20px;
        font-weight: 200;
        line-height: 1.3;
        margin: 20px;
    }

    .articleHome-1 h1{
        font-size: 45px;
        font-family: 'bebas';
        font-weight:600;
        text-align: center;
        color: #bbc5c8;
    }

/* Discografia Page */

.mainDiscografia{
    max-width: 100vw;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
}

.cardImg{
    width:100%;
    height: auto;
}

.cardText{
    font-family: 'bebas';
    color: #bbc5c8;
    padding: 10px;
    text-align: center;
}

h1{
    font-family: 'bebas';
    color: #bbc5c8;
    text-align: center;
    font-size: 35px;
}

h3{
    font-style: italic;
    font-weight: 100;
}

/* Tours Page */

.mainTours h2{
    font-family: 'bebas';
    color: #bbc5c8;
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    background-color: #0c151c;
    text-align: center;
}


.tourSection{
    margin: 150px auto ;
    width: 600px;
}

.tourTable{
    width: 100%;
    background-color: #f2f6f7;
    text-align: center;
    border-collapse: collapse;
}

.tourTable th,td{
    padding: 25px;
}

.tourTable th{
    background-color: #0c151c;
    font-family: 'bebas';
    font-size: 150%;
    color: #bbc5c8;
    border-bottom: solid 5px #bbc5c8 ;
}

.tourTable td{
    background-color: #0c151c;
    font-family: 'bebas';
    color: #bbc5c8;
}


/* Videos Page */

.mainVideos h2{
    font-family: 'bebas';
    color: #bbc5c8;
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    background-color: #0c151c;
    text-align: center;
}

.videoclips{
    margin: 50px auto ;
    width: 600px;
}


/* Contacto Page */

.mainContact h3{
    font-family: 'bebas';
    color: #bbc5c8;
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
    background-color: #0c151c;
    text-align: center;
}

.sectionForm{
    display: flex;
    justify-content: space-around;
}

form{
    font-family: 'bebas';
    color: #bbc5c8;
    font-weight: lighter;
    font-style: none;
    font-size: 15px;
    background-color: #0c151c;
    text-align: center;
    width: 150%;
}

form textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #bbc5c8;
    resize: none;
}


.contactImg img{
    width: 600px;
    border: 1px solid #f2f6f7;
    border-radius: 15px;
}

/* Footer */

footer p{
    font-family: 'bebas';
    font-size: 25px;
    color: black;
    text-align: center;
}

.footerContainer{
    display: flex;
    justify-content: center;
}

.footerContainer span{
    margin: 5px;
}

