@font-face {
  font-family: "bebas";
  src: url("..//assets/Fonts/BebasNeue-Regular.ttf");
}
/* Body */
/*Body Background:*/
body {
  background-image: url("../assets/Background/background 4.jpg");
  background-size: contain;
}

/*Navigation Bar*/
.logoImg {
  height: 100px;
  width: 350px;
  margin-left: 15px;
}

nav {
  background-image: url("../assets/Background/background 2.jpg");
  background-size: contain;
}

header ul li a {
  position: relative;
  text-decoration: none;
  font-family: "bebas";
  font-size: 35px;
  font-weight: lighter;
  margin: 3px;
  cursor: pointer;
}
header ul li a:after {
  content: "";
  position: absolute;
  background-color: #0c151c;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
header ul li a:hover:after {
  width: 100%;
}

/*Mediaquieries NavBar*/
@media (min-width: 360px) and (max-width: 576px) {
  .logoImg {
    height: 50px;
    width: 240px;
    margin-left: 15px;
  }

  header ul li a {
    font-size: 25px;
  }
}
/*Index*/
/* Index Page */
/*Main*/
.sectionHome-1 {
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-image: url("../assets/Background/background 5.jpg");
}
.sectionHome-1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.articleHome {
  display: flex;
  flex-direction: column;
  position: absolute;
}
.articleHome .background1 {
  display: none;
}
.articleHome h1 {
  color: #f2f6f7;
  text-align: center;
  margin-top: 5px;
  font-family: "bebas";
  font-size: 70px;
  font-weight: bold;
}
.articleHome h2 {
  color: #f2f6f7;
  text-align: center;
  font-family: "bebas";
  font-size: 30px;
  font-weight: 500;
}
.articleHome p {
  color: #bbc5c8;
  text-align: center;
  font-family: "bebas";
  font-size: 23px;
  font-weight: 200;
}
.articleHome .members {
  color: #bbc5c8;
  text-align: center;
  font-family: "bebas";
  font-size: 23px;
  font-weight: 200;
}

.sectionHome-2 {
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  background-image: url("../assets/Background/background 3.jpg");
}
.sectionHome-2::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.articleHome-1 {
  display: flex;
  flex-direction: column;
  position: absolute;
}
.articleHome-1 .background2 {
  display: none;
}
.articleHome-1 h1 {
  color: #f2f6f7;
  text-align: center;
  margin-top: 5px;
  font-family: "bebas";
  font-size: 70px;
  font-weight: bold;
}
.articleHome-1 h2 {
  color: #f2f6f7;
  text-align: center;
  font-family: "bebas";
  font-size: 30px;
  font-weight: 500;
}
.articleHome-1 p {
  color: #bbc5c8;
  text-align: center;
  font-family: "bebas";
  font-size: 23px;
  font-weight: 200;
}

/*Mediaqueries Index */
@media (min-width: 360px) and (max-width: 876px) {
  .sectionHome-1 {
    background-image: none;
    height: 95vh;
  }
  .sectionHome-1 .articleHome .background1 {
    display: block;
    margin: 0 auto;
    width: 100%;
    object-fit: contain;
  }
  .sectionHome-1 .articleHome h1 {
    font-size: 30px;
  }
  .sectionHome-1 .articleHome h2 {
    font-size: 20px;
    font-weight: 200;
  }
  .sectionHome-1 .articleHome p {
    font-size: 18px;
    font-weight: 200;
  }
  .sectionHome-1 .articleHome .members {
    font-size: 18px;
    font-weight: 200;
  }

  .sectionHome-2 {
    background-image: none;
    height: 270vh;
  }
  .sectionHome-2 .articleHome-1 .background2 {
    display: block;
    margin: 0 auto;
    width: 100%;
    object-fit: contain;
  }
  .sectionHome-2 .articleHome-1 h2 {
    font-size: 20px;
    font-weight: 200;
  }
  .sectionHome-2 .articleHome-1 p {
    font-size: 18px;
    font-weight: 200;
  }
}
@media (min-width: 877px) and (max-width: 1200px) {
  .sectionHome-1 {
    background-image: none;
    height: 110vh;
  }
  .sectionHome-1 .articleHome .background1 {
    display: block;
    margin: 0 auto;
    width: 100%;
    object-fit: contain;
  }
  .sectionHome-1 .articleHome h1 {
    font-size: 70px;
  }
  .sectionHome-1 .articleHome h2 {
    font-size: 30px;
    font-weight: 200;
  }
  .sectionHome-1 .articleHome p {
    font-size: 18px;
    font-weight: 200;
  }
  .sectionHome-1 .articleHome .members {
    font-size: 18px;
    font-weight: 200;
  }

  .sectionHome-2 {
    background-image: none;
    height: 200vh;
  }
  .sectionHome-2 .articleHome-1 .background2 {
    display: block;
    margin: 0 auto;
    width: 100%;
    object-fit: contain;
  }
  .sectionHome-2 .articleHome-1 h2 {
    font-size: 30px;
    font-weight: 200;
    margin-top: 15px;
  }
  .sectionHome-2 .articleHome-1 p {
    font-size: 18px;
    font-weight: 200;
  }
}
@media (min-width: 1201px) and (max-width: 1800px) {
  .sectionHome-1 {
    background-size: auto;
    background-repeat: no-repeat;
    height: 75vh;
  }

  .sectionHome-2 {
    background-size: auto;
    background-repeat: no-repeat;
    height: 150vh;
  }
}
/*Discografia*/
/* Discografia Page */
.tittle {
  font-family: "bebas";
  color: #f2f6f7;
  text-align: center;
  padding: 10px;
}

.card-group {
  padding: 10px;
}
.card-group .card .cardImg {
  width: 100%;
  height: auto;
}
.card-group .card .card-text {
  font-family: "bebas";
  color: #bbc5c8;
  text-align: center;
}
.card-group .card .card-text h3 {
  font-style: italic;
  font-weight: 100;
  font-size: 15px;
  text-align: center;
}
.card-group .card .card-text .accordion .accordion-header .accordion-button {
  background-color: #0c151c;
  font-size: 25px;
  color: #bbc5c8;
}

/*Tours*/
/* Tours Page */
.tourSection {
  color: #bbc5c8;
}

/*Mediaqueries Tours*/
@media only screen and (max-width: 576px) {
  .imgTour img {
    height: 280px;
  }
}
@media only screen and (max-width: 768px) {
  .imgTour img {
    height: 350px;
  }
}
@media only screen and (max-width: 992px) {
  .imgTour img {
    height: 450px;
  }
}
/*Videos*/
/* Videos Page */
.mainVideos h2 {
  font-family: "bebas";
  color: #bbc5c8;
  font-weight: bold;
  font-style: italic;
  font-size: 35px;
  text-align: center;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.video1, .video2, .video3, .video4, .video5, .video6, .video7, .video8, .video9 {
  justify-content: space-between;
  flex: 50%;
}

iframe {
  width: 568px;
  height: 280px;
}

/*Mediaqueries Videos*/
@media only screen and (max-width: 576px) {
  .video1, .video2, .video3, .video4, .video5, .video6, .video7, .video8, .video9 {
    flex: 100%;
  }

  iframe {
    width: 400px;
    height: 250px;
  }
}
@media only screen and (max-width: 768px) {
  .video1, .video2, .video3, .video4, .video5, .video6, .video7, .video8, .video9 {
    flex: 100%;
  }

  iframe {
    width: 568px;
    height: 280px;
  }
}
/*Contacto*/
/* Contacto Page */
.mainContact {
  padding: 15px;
}

.ContactForm {
  color: #bbc5c8;
  font-family: "bebas";
  font-size: 20px;
  background-color: #0c151c;
  padding: 10px;
}

.comentarios {
  margin-top: 10px;
}

#commentTextArea {
  height: 300px;
  background-color: transparent;
  color: #bbc5c8;
}

.comentarios label {
  color: #bbc5c8;
}

.botones {
  background-color: #0c151c;
  display: flex;
  justify-content: center;
}

.botones input {
  padding: 5px;
  margin: 5px;
}

.botones span {
  margin-right: 15px;
}

.slide {
  margin-top: 10px;
  margin-bottom: 10px;
}

.slide img {
  height: 550px;
}

/* Footer */
footer {
  background-image: url("../assets/Background/background 2.jpg");
  background-size: contain;
}
footer p {
  font-family: "bebas";
  font-size: 25px;
  color: black;
  text-align: center;
}
footer .footerContainer {
  display: flex;
  justify-content: center;
}
footer .footerContainer span {
  margin: 35px;
}
footer .footerContainer span a img {
  width: 100%;
  height: 100%;
  transition: all;
}
footer .footerContainer span a img:hover {
  transform: scale(1.5, 1.5);
}

/*Mediaqueries Footer*/
@media (min-width: 350px) and (max-width: 716px) {
  footer p {
    font-size: 17px;
  }
  footer .footerContainer span {
    margin: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
