/* Discografia Page */

.card-group{
	padding: 10px;
}

.cardImg {
	width: 100%;
	height: auto;
}

.card-text {
	font-family: 'bebas';
	color: $color-font-1;
	text-align: center;
}

h3 {
	font-style: italic;
	font-weight: 100;
	font-size: 15px;
}
