/* Discografia Page */

.tittle{
	font-family: 'bebas';
	color: $color-font-2;
	text-align: center;
	padding: 10px;
}

.card-group{
	padding: 10px;

	.card{
		.cardImg {
			width: 100%;
			height: auto;
		}	
		.card-text {
			font-family: 'bebas';
			color: $color-font-1;
			text-align: center;
			
			h3 {
				font-style: italic;
				font-weight: 100;
				font-size: 15px;
				text-align: center;
			}

			.accordion{
				.accordion-header{
					.accordion-button{
						background-color: $color-font-4;
						font-size: 25px;
						color: $color-font-1;
					}
				}
			}
		}
	}
}


