/* Index Page */
    /*Main*/
$pesoFuente:("baja": 200, "media": 500, "alta": bold);
$tamañoFuente:("sm":15px, "md": 18px, "lg":23px);
$tamañoTitulos:("sm":20px, "md": 30px, "lg":70px);

@mixin fondoSections() {
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5))
    }
}

@mixin tituloH1{
    color: $color-font-2;
    text-align: center;
    margin-top: 5px;
    font-family: 'bebas';
    font-size: map-get($tamañoTitulos,lg);
    font-weight: map-get($pesoFuente,alta);
}

@mixin tituloH2{
    color: $color-font-2;
    text-align: center;
    font-family: 'bebas';
    font-size: map-get($tamañoTitulos,md);
    font-weight: map-get($pesoFuente,media);
}

@mixin parrafos{
    color: $color-font-1;
    text-align: center;
    font-family: 'bebas';
    font-size: map-get($tamañoFuente,lg);
    font-weight: map-get($pesoFuente,baja);
}

.sectionHome-1{        
    @include fondoSections();
    height: 100vh;
    background-image: url("../assets/Background/background\ 5.jpg");
}

.articleHome{
    display: flex;
    flex-direction: column;
    position:absolute;
    .background1{
        display: none;
    }
    h1{
        @include tituloH1();
    }
    h2{
        @include tituloH2();
    }
    p{
        @include parrafos();
    }
    .members{
        @include parrafos();
    }
}

.sectionHome-2{
    @include fondoSections();
    background-image: url("../assets/Background/background\ 3.jpg");
}

.articleHome-1{
    display: flex;
    flex-direction: column;
    position:absolute;
    .background2{
        display: none;
    }
    h1{
        @include tituloH1();
    }
    h2{
        @include tituloH2();
    }
    p{
        @include parrafos();
    }
}

/*Mediaqueries Index */

@media (min-width:360px) and (max-width:800px){
    
    .sectionHome-1{
        background-image: none;
        height: 750px;

        .articleHome{
            .background1{
                display: block;
                margin: 0 auto;
                width: 100%;
                object-fit: contain;
            }
            h1{
                font-size: map-get($tamañoTitulos,md);
            }
            h2{
                font-size: map-get($tamañoTitulos,sm);
                font-weight: map-get($pesoFuente,baja);
            }
            p{
                font-size: map-get($tamañoFuente,md);
                font-weight: map-get($pesoFuente,baja);
            }
            .members{
                font-size: map-get($tamañoFuente,md);
                font-weight: map-get($pesoFuente,baja);
            }
        }
    }

    .sectionHome-2{
        background-image: none;
        height: 2150px;

        .articleHome-1{
            .background2{
                display: block;
                margin: 0 auto;
                width: 100%;
                object-fit: contain;
            }
            h2{
                font-size: map-get($tamañoTitulos,sm);
                font-weight: map-get($pesoFuente,baja);
            }
            p{
                font-size: map-get($tamañoFuente,md);
                font-weight: map-get($pesoFuente,baja);
            }
        }
    }
}

@media (min-width:801px) and (max-width:1200px){
    
    .sectionHome-1{
        background-image: none;
        height: 900px;

        .articleHome{
            .background1{
                display: block;
                margin: 0 auto;
                width: 100%;
                object-fit: contain;
            }
            h1{
                font-size: map-get($tamañoTitulos,lg);
            }
            h2{
                font-size: map-get($tamañoTitulos,md);
                font-weight: map-get($pesoFuente,baja);
            }
            p{
                font-size: map-get($tamañoFuente,md);
                font-weight: map-get($pesoFuente,baja);
            }
            .members{
                font-size: map-get($tamañoFuente,md);
                font-weight: map-get($pesoFuente,baja);
            }
        }
    }

    .sectionHome-2{
        background-image: none;
        height: 1500px;

        .articleHome-1{
            .background2{
                display: block;
                margin: 0 auto;
                width: 100%;
                object-fit: contain;
            }
            h2{
                font-size: map-get($tamañoTitulos,md);
                font-weight: map-get($pesoFuente,baja);
                margin-top: 15px;
            }
            p{
                font-size: map-get($tamañoFuente,md);
                font-weight: map-get($pesoFuente,baja);
            }
        }
    }
}

@media (min-width:1201px) and (max-width:1800px){

    .sectionHome-1{
        background-size:auto;
        background-repeat: no-repeat;
        height: 600px;
    }

    .sectionHome-2{
        background-size:auto;
        background-repeat: no-repeat;
        height: 1200px;
    }
}
