//Nagivation Bar:
@import"colors";


.logoImg {
    height: 100px;
    width: 350px;
    margin-left: 15px;
}

nav{
background-image: url("../assets/Background/background 2.jpg");
background-size: contain;
}

header ul{
        li{
            a{
                position: relative;
                text-decoration: none;
                font-family: 'bebas';
                font-size: 35px;
                font-weight: lighter;
                margin: 3px;
                cursor: pointer;
                &:after{
                    content: "";
                    position: absolute;
                    background-color: $color-font-4;
                    height: 3px;
                    width: 0%;
                    left: 0;
                    bottom: 10px;
                    transition: 0.3s;
                }
                &:hover:after{
                    width: 100%;
                }
            }
        }
}
