/* Videos Page */

@mixin titleFormato() {
	font-family: 'bebas';
	color: $color-font-1;
	text-align: center;
}

@mixin videosDisposicion() {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.mainVideos{

	h1{
		@include titleFormato();
	}
	.videos{
		@include videosDisposicion();

		.video1, .video2, .video3, .video4, .video5, .video6, .video7, .video8, .video9{
			justify-content: space-between;
			flex: 50%;

			iframe{
				width: 800px;
				height: 400px;
			}
		}
	}
}



/*Mediaqueries Videos*/
@media (min-width:360px) and (max-width:576px){

		iframe{
			max-width: 95vw;
		}
}

@media (min-width:577px) and (max-width:992px){

		iframe{
			max-width: 95vw;
		}
}

@media (min-width:993px) and (max-width:1400px){

		iframe{
			max-width: 95vw;
		}
}