* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

//Imports:
@font-face {
	font-family: "bebas";
	src: url("..//assets/Fonts/BebasNeue-Regular.ttf");
}
@import"colors";
/* Body */
@import"background";
/*Navigation Bar*/
@import"nav_Bar";
/*Index*/
@import"index";
/*Discografia*/
@import"discografia";
/*Tours*/
@import"tours";
/*Videos*/
@import"videos";
/*Contacto*/
@import"contacto";
/* Footer */
@import"footer";


